<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a1_score.tima.vn.a1_score_viper">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".Modules.Introduction.View.IntroductionView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Main.View.MainView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Login.View.LoginView"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.LOGIN_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Register.View.RegisterView"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.REGISTER_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.HomePage.View.HomePageView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HOME_PAGE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Profile.View.ProfileView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PROFILE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.LoanRequest.View.LoanRequestView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.LOAN_REQUEST_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.UpdateProfile.View.UpdateProfileView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UPDATE_PROFILE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.IntroduceFriends.View.IntroduceFriendsView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.INTRODUCE_FRIEND_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.LoanRegistration.View.LoanRegistrationView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.LOAN_REGISTRATION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.UpdateJob.View.UpdateJobView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UPDATE_JOB_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.UpdateFamily.View.UpdateFamilyView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UPDATE_FAMILY_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.UpdateSocialNetwork.View.UpdateSocialNetworkView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SOCIAL_NETWORK_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.UpdatePapers.View.UpdatePapersView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UPDATE_PAPER_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Camera.View.CameraView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Camera.View.CameraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Otp.View.OtpView"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.OTP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.ForgotPassword.View.ForgotPasswordView"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.FORGOT_PASS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.ResetPassword.View.ResetPasswordView"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CHANGE_PASS_FORGOT_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.Setting.View.SettingView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SETTING_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modules.ChangePhone.View.ChangePhoneView"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CHANGE_PHONE_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <!--<provider-->
            <!--android:name="com.facebook.FacebookContentProvider"-->
            <!--android:authorities="com.facebook.app.FacebookContentProvider1234567890xxxx"-->
            <!--android:exported="true" />-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>